#content {
  position: fixed;
    top: 320px;
    right: 10px;
    bottom: 10px;
    left: 10px;

  padding: 0px 15px 15px 15px;

  overflow: auto;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: rgb(180, 19, 26);
}

#description pre {
  margin-left: 30px;
}

#description code {
  padding: 1px 7px;

  border-radius: 10px;

  background-color: rgb(127, 6, 9);
}

#description pre code {
  display: inline-block;

  padding: 7px;
}

#description blockquote {
  margin-left: 30px;
  padding-left: 10px;

  border-left: solid rgb(127, 6, 9) 5px;
}

#description table {
  border-collapse: collapse;
}

#description table > * > * > * {
  padding: 3px;

  border: solid rgb(127, 6, 9) 2px;
}

#description a {
  color: white;
}

#codeEditor {
  height: 300px;
}

#codeEditor > * {
  display: inline-block;

  height: 100%;

  margin-right: 10px;

  vertical-align: top;
}

#codeEditor h2 {
  margin: 5px;
}

.resetArrow {
  cursor: pointer;

  user-select: none;
}

#inputTextarea {
  height: 248px;
  width: 200px;

  padding: 7px;

  border-radius: 10px;

  color: rgb(247, 245, 232);
  background-color: rgb(127, 6, 9);

  resize: horizontal;
}

.CodeMirror {
  width: 500px;
  height: 262px;

  border-radius: 10px;
}

#evaluateButton {
  white-space: pre;

  border-radius: 10px;

  cursor: pointer;

  color: rgb(247, 245, 232);
  background-color: rgb(176, 139, 32);

  user-select: none;
}

#evaluateButton span {
  display: block;
  font-size: 35px;
}

#outputDiv {
  white-space: pre;
}

#outputDiv > div {
  display: inline-block;

  margin-left: 10px;

  vertical-align: top;

  white-space: pre;
}

#outputDiv > div > div {
  height: 248px;

  padding: 7px;

  overflow: auto;

  border-radius: 10px;

  background-color: rgb(127, 6, 9);
}
